luceneDir: IndexDirectory
maxHitDepth: 3
maxContextWindow: 5
fuzzy: false 

# The GeoNames files (allCountries.txt and alternateNames.txt) must be present before indexing
# Multiple gazetteerFiles may be specified
gazetteerFiles:
   - allCountries.txt
alternateNamesFile: alternateNames.txt

http:
  port: 9090
  adminPort: 9091
  rootPath: /api/*  

assets:
  overrides:
    /: src/main/resources/assets/

